@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

:root {
    --light-color: #efefef;
    --medium-color: #bdbdbd;
    --dark-color: #8d8d8d;
    --custom-black : #1a1919;
    --form-black: #252525;
    --nav-black: #111111;
    --custom-blue: #08fdd8;
    --violet: #ff0066;
}

body {
    background-color: var(--custom-black);
    display: flex;
    flex-wrap: wrap;
    color: var(--light-color);
}

a, a:hover, a:active {
    text-decoration: none;
    color: white;
    background: transparent;
}


.nav-bar {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--nav-black);
}
.wrapper {
    flex: 1 1 100%;
}

.nav-bar__item {
    width: 50px;
    color: var(--custom-blue);
}
header {
    background-color: var(--custom-black);
    flex: 1 1 80%;
}
footer {
    flex: 1 1 100%;
    padding-left: 170px;
    width: 100%;
    margin-top: 50px;
    background-color: var(--nav-black);
}
article {
    margin-left: 170px;
}
.title {
    font-family: "Staatliches";
    letter-spacing: 1px;
}

.title--main {
    font-size: 54px;
    color: var(--light-color);
    padding: 150px 150px
}

.title--section {
    font-size: 46px;
    color: var(--custom-blue);
}

.title--subsection {
    font-size: 38px;
    color: var(--violet);
}

.description {
    font-size: 18px;
    font-family: "Raleway";
}

.know-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    align-items: center;
    justify-content: space-around;
}

.know-container__item  {
    flex: 0 0 10%;
    padding: 10px;
    text-align: center;
    font-family: "Raleway";
    font-weight: bold;
}

.know-container__item  div {
    width: 75px;
    padding: 10px;
    height: 120px;
    border-radius: 5px;
    transition: 0.5s;
}
.know-container__item div:hover {
    background-color: var(--form-black);
}

.know-container__item__image {
    width: 75px;
}

/* Formulario */
.contact-form input[type="text"], .contact-form input[type="email"] {
    border: 0;
    width: 70%;
    background-color: var(--form-black);
    height: 50px;
    font-size: 16px;
    color: var(--dark-color);
    padding: 0 20px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 15px;
    outline: none;
}

.contact-form textarea {
    border: 0;
    width: 70%;
    background-color: var(--form-black);
    font-size: 16px;
    color: var(--dark-color);
    padding: 10px 10px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 15px;
    outline: none;
}

.contact-form .contact-form__submit {
    color: var(--custom-blue);
    font-size: 11px;
    letter-spacing: 2px;
    text-decoration: none;
    border: 1px solid var(--custom-blue);
    background: transparent;
    text-transform: uppercase;
    padding: 15px;
    font-size: 12px;
    outline: none;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
}

.contact-form .contact-form__submit:hover {
    background-color: var(--custom-blue);
    color: var(--custom-black);
}